{{#*inline "page"}}
<div id="menu">
    <form id="save" name="save" method="post">
        <button class="btn">save</input>
    </form>
</div>
<div id="content">
    <textarea placeholder="write here..." form="save" name="content"></textarea>
</div>
{{/inline}}
{{~> base~}}